<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Guestbook</title>
        <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .panel-title a {
                color: #337ab7;
            }
             .control-label.required:after {
                 content: " *";
                 color: red;
             }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">add to our guestbook</h3>
                        Fill in the blanks below to add to our guestbook. The only blanks that you have to fill in are the comments and name section. Thanks!</div>
                    <div class="panel-body">
                        <form method="POST" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="control-label col-sm-2 required">Name:</label>
                                <div class="col-sm-8">
                                    <input type = "text" class="form-control" id="name" name="name" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label col-sm-2 required">E-Mail:</label>
                                <div class="col-sm-8">
                                    <input type = "email" class="form-control" id="email" name="email" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="url" class="control-label col-sm-2">URL: </label>
                                <div class="col-sm-8">
                                    <input type = "url" class="form-control" id="url" name="url">
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="city" class="control-label col-sm-2 required" required>City: </label>
                                <div class="col-sm-2">
                                    <input type = "text" class="form-control" id="city" name="city" size="10" required="true">
                                </div>

                                <label for="state" class="control-label col-sm-1">State: </label>
                                <div class="col-sm-1">
                                    <input type = "text" class="form-control" id="state" name="state" size="2">
                                </div>

                                <label for="country" class="control-label col-sm-2 required">Country: </label>
                                <div class="col-sm-2">
                                    <input type = "text" class="form-control" id="country" name = "country" size="15" required="true">
                                </div>
                            </div>

                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label for="comments" class="control-label col-sm-3 required">Comments: </label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="comments" name="comments"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <button type = "reset" class="btn btn-danger"> Reset </button>
                                <button type = "submit" class="btn btn-primary"> Submit </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h6> (c) 2016, Vasyl Lytovchenko, mvcdemo.onpu</h6>

        <script>
             saved_form_values = new Map(<%= JSON.generate(@params.map{|k,v| [k,v]}) %>);
             function restoreValues(value, key, map){
                 document.getElementById(key).setAttribute("value", value);
             }
             saved_form_values.forEach(restoreValues);
        </script>
    </body>
</html>
